.about-page-container {
    scroll-snap-align: start;  
    display: flex;
    justify-content: center;
    align-items: center;
    .about-page {
        width: 90vw;
        max-width: 1200px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        #about-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            #about-img-cropper {
                overflow: hidden;
                border-radius: 50%;
                height: 40vh;
                width: 40vh;
            }
            img {
                display: inline;
                margin: 0 auto;
                height: auto;
                width: 100%;
                transform: translateY(-5%);
            }
        }
        #about-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}
