//$grey: #898989;
//$darkgrey: dimgrey;
//$pink: lightpink;
//$darkpink: #9A0A35;
//$white: #fffafa;

$grey: #917D7E;
$darkgrey: #7C6C6D;
$pink: #FFB6C1;
$darkpink: #DA9093;
$white: #D9CAC1;


$purewhite: #ffffff;

@font-face {
    font-family: "Consolas"; 
    src: url("../fonts/Consolas.woff2") format("woff2"); 
}
