@import 'config';

.footer-container {
    scroll-snap-align: end;  
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: $purewhite;
    height: 16vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    width: 100vw;

    #top-button {
        color: $pink;
        text-decoration: none;
        cursor: pointer;
        font-size: 4vh;
        transition: color 0.25s ease-in-out;
        transform: rotate(180deg);
        &:hover {
            color: $darkpink;
        }
    }

}

