.home-page {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.works-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
