.home-page {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 92vh;
}

.works-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 84vh;
}
