@import "config";

$navBarWidth: 21rem;
$breakpoint-tablet: 40rem;

.nav-bar {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    opacity: 1;
    box-shadow: 0 0 4px #898989;
    position: fixed;
    background: $purewhite;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    border-radius: 0 10px 10px 0;
    width: 5rem;
    max-width: 100vw;
    overflow-x: hidden;
    transition: 0.25s ease-in-out;
    .menu-toggle {
        color: $pink;
        font-size: 4rem;
        display: flex;
        position: fixed;
        top: 0rem;
        height: 5rem;
        right: 0.5rem;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease-in-out 0.25s, color 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0.5rem;

        height: 4rem;
        a {
            height: inherit;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .logo-txt {
            color: $grey;
            font-size: 1.125 * 1.125 * 1.125rem;
            margin-left: 0.25rem;
            &.closed {
                display: none;
            }
            transition: 0.25s ease-in-out;
            &:hover {
                color: $darkgrey;
            }
        }

        #logo-img {
            margin: 0;
            display: block;
            height: 3.5rem;
            background: transparent;
            -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
            filter: drop-shadow(0px 0px 10px #ffffff);
            transition: 0.25s ease-in-out;
            g {
                fill: $pink;
            }
            &:hover {
                g {
                    fill: $darkpink;
                }
            }
        }
    }

    .nav-links-container {
        border-style: solid none solid none;
        border-width: 1px;
        border-color: $grey_02;
        flex: 1;
        margin: 0 0.5rem 0 0.5rem;
        padding: 0.5rem 0 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: auto;
        flex-grow: 1;
        transition: 0.25s ease-in-out;
        .work-link {
            display: flex;
            .nav-toggle {
                color: $pink;
                font-size: 1.125 * 1.125 * 1.125rem;
                margin-left: 0.5rem;
                cursor: pointer;
                transition: 0.25s ease-in-out;
                &:hover {
                    color: $darkpink;
                }
            }
            a {
                display: flex;
                align-items: center;
                color: $grey;
                text-decoration: none;
                &.active {
                    font-weight: bold;
                }
                transition: 0.25s ease-in-out;
                &:hover {
                    color: $darkgrey;
                }
            }
            font-size: 1.125 * 1.125rem;
            color: $grey;
        }
        .about-link {
            display: flex;
            color: $grey;
            text-decoration: none;
            font-size: 1.125 * 1.125rem;
            align-self: flex-start;
            &.active {
                font-weight: bold;
            }
            transition: 0.25s ease-in-out;
            &:hover {
                color: $darkgrey;
            }
        }
        .work-items {
            background: $purewhite;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: scroll;
            transition: 0.25s ease-in-out;
            .workitem {
                display: flex;
                align-items: center;
                height: 4rem;
                margin: 0;
                padding: 0 0.5rem 0 0.5rem;
                .workitem-title {
                    padding: 0;
                    margin: 0;
                    font-size: 1rem;
                }
                .workitem-desc {
                    opacity: 0.7;
                    padding: 0;
                    margin: 0;
                    padding-left: 0.5rem;
                    font-size: 1rem / (1.125 * 1.125);
                }
                a {
                    color: $grey;
                    text-decoration: none;
                    transition: 0.25s ease-in-out;
                    &:hover {
                        color: $darkgrey;
                    }
                }
            }
            &.closed {
                flex-grow: 0;
                max-height: 0;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $pink;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $darkpink;
            }
        }
    }
    .follow-links {
        margin: 0.5rem;
        height: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;

        .follow-img {
            margin-top: 0.5rem;
            margin-left: 1rem;
            background: transparent;
            height: 1.125 * 1.125 * 1.125rem;
            g {
                fill: $grey;
                transition: 0.25s ease-in-out;
            }
            &:hover {
                g {
                    fill: $darkgrey;
                }
            }
        }
    }

    &.open {
        width: $navBarWidth;
        .work-link {
            justify-content: space-between;
            .nav-toggle {
                transform: rotate(90deg);
            }
        }
        .follow-links {
            align-items: center;
            justify-content: flex-start;
            height: 2.5rem;
            flex-direction: row;
            .follow-img {
                margin-top: 0rem;
                margin-right: 0.5rem;
                margin-left: 0rem;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .nav-bar {
        .nav-toggle {
            display: none;
        }
        .menu-toggle {
            opacity: 1;
            visibility: visible;
            &:hover {
                cursor: pointer;
                color: $darkpink;
            }
        }
        .logo-container {
            .logo-txt {
                &.closed {
                    display: flex;
                }
            }
        }
        left: 0;
        top: 0;
        right: 0;
        height: 5rem;
        margin: 0;
        border-radius: 0 0 10px 10px;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        .follow-links {
            display: none;
        }
        .nav-links-container {
            display: none;
        }
        &.open {
            .menu-toggle {
                transform: rotate(180deg);
            }
            flex-direction: column;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100vw;
            border-radius: 0 0 0 0;
            .nav-links-container {
                display: flex;
            }
            .follow-links {
                display: flex;
            }
        }
    }
}
