.project-page-container {
    padding-top: 8vh;
    scroll-snap-align: start;  
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-page {
        width: 90vw;
        max-width: 1200px;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .project-title {
            font-size: 4vh;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project-description {
            width: 60vw;
        }
    }
    .tile-container {
        padding: 10vh;
        width: 90vw;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .video-tile {
            width: 100%;
            height: 60vh;
        }
        .img-tile {
            width: 107vh;
            max-width: 90%;
            height: auto;
        }
    }
}

