@import 'config';
.project-page {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 5vh;
    .project-header {
        scroll-snap-align: start;  
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .project-title {
            font-size: 4vh;
            padding: 2vh 2vw 1vh 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project-subtitle {
            font-size: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project-description {
            width: 80vw;
            padding: 2vh 2vw 1vh 2vw;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tile {
            scroll-snap-align: end;  
            width: 80vw;
            padding: 5vh 10vw 5vh 10vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .video-tile {
                width: 60vw;
                .video-tile-inner {
                    position: relative;
                    padding-top: 56.25%;
                    opacity: 0;
                    transition-delay: 0.25s;
                    &.ready {
                        opacity: 1;
                    }
                    .react-player {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            .img-tile {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 60vw;
                    height: auto;
                }
            }
        }
    }
}

