@import 'config';

.welcome-slide {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    #welcome-content {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3vh;
        flex-grow: 1;
    }
    transition: transform 1s ease-in-out;
    &.open {
        transform: translateY(-100%);
    }

}
