.welcome-slide {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    #welcome-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3.5vh;
        flex-grow: 1;
    }
    #scroll-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 10vh;
        #scroll-img {
            height: 6vh;
            background: transparent;
            transition: 0.5s;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover > #scroll-img {
            height: 6.5vh;
        }
    }

    transition-property: transform;
    transition-duration: 1s; 
    &.open {
        transform: translateY(-100%);
    }

}
