@import 'colors';

.works-list {
    opacity: 0.9;
    box-shadow: 0 0 4px #898989;
    z-index: 10;
    position: fixed;
    background: white;
    left: 0;
    bottom: 0;
    height: 72vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 1vh;
    display: flex;
    border-radius: 0 2% 2% 0;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    align-self: flex-start;
    #works-list-header {
        margin-top: 1vh;
        margin-left: 3vh;
        margin-right: 3vh;
        align-self: flex-start;
        font-size: 2vh;
        font-weight: bold;
        color: $textcolor;
    }
    .work-items {
        box-shadow: 0 0 4px #898989 inset;
        overflow-x: hidden;
        overflow-y: scroll;
        .workitem {
            padding: 2vh;
            a {
                color: $textcolor;
                padding: 1vh;
                text-decoration: none;
                transition: 0.5s;
                transition-property: font-size;
            }
        }
    }
    .follow-links {
        margin-left: 2vh;
        margin-right: 2vh;
        align-self: flex-start;

        .follow-img {
            background: transparent;
            padding: 1vh;
            transition: 0.5s;
            height: 2.5vh;
            g {
                fill: #898989;
            }
            path {
                stroke: #898989;
            }
        }
    }
}
