@import 'config';

.work-display {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.workview-container {
    scroll-snap-align: end;  
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.workview {
    opacity: 0;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    background: $purewhite no-repeat center center;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: opacity 0.25s;
    .workview-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        .work-title {
            transition: font-size 0.5s;
            font-size: 4vh;
        }
        .work-discription {
            transition: font-size 0.5s;
            font-size: 1.8vh;
        }
        &:hover{
            .work-title {
                font-size: 4.2vh;
            }
            .work-discription {
                font-size: 2vh;
            }
        }

    }
}

.workview-container:hover {
    cursor: pointer;

    > .workview {
        opacity: 0.7;
    }
}
