.work-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.workview-container {
    width: 90vw;
    height: 100vh;
    max-width: 1200px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.workview {
    display: flex;
    opacity: 0;
    width: 90%;
    height: 90%;
    border-radius: 2%;
    background: white no-repeat center center;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition-property: opacity;
    transition-duration: 0.2s;
    .work-title {
        opacity: 1;
        font-size: 4vh;
    }
    .work-description {
        opacity: 1;
        font-size: 1.8vh;
    }
}

.workview-container:hover {
    cursor: pointer;
    opacity: 0.5;

    > .workview {
        opacity: 1;
    }
}
