@import 'colors';

.work-display {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.workview-container {
    scroll-snap-align: end;  
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.workview {
    display: flex;
    opacity: 0;
    width: 50%;
    height: 60%;
    border-radius: 3%;
    background: $white no-repeat center center;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition-property: opacity;
    transition-duration: 0.2s;
    .work-title {
        opacity: 1;
        font-size: 4vh;
    }
    .work-description {
        opacity: 1;
        font-size: 1.8vh;
    }
}

.workview-container:hover {
    cursor: pointer;

    > .workview {
        opacity: 0.7;
    }
}
